---
interface Props {
  text: String
}

const { text } = Astro.props

---

<div class="bg-blue-200 p-5 my-5 rounded">
  <span class="text-blue-800 font-bold">🧠 Remember</span>
  <div>
    { text }
  </div>
</div>